Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages/*
/.vs/EtwStream/v15/Server/sqlite3/storage.ide-wal
/.vs/EtwStream/v15/Server/sqlite3/storage.ide-shm
/.vs/EtwStream/v15/Server/sqlite3/storage.ide
/.vs/EtwStream/v15/Server/sqlite3/db.lock
/.vs/EtwStream/v15/Server/sqlite3
/.vs/EtwStream/DesignTimeBuild/.dtbcache
