<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.SemanticLogging" version="2.0.1406.1" targetFramework="net46" />
  <package id="EnterpriseLibrary.SemanticLogging.TextFile" version="2.0.1406.1" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="2.0.11" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="NLog" version="4.5.4" targetFramework="net46" />
  <package id="NLog.Config" version="4.5.4" targetFramework="net46" />
  <package id="NLog.Schema" version="4.5.4" targetFramework="net46" />
  <package id="Serilog" version="2.7.1" targetFramework="net46" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net46" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net46" />
</packages>